.card-root {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  min-height: 200px;
  place-content: start;
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    padding-top: 50px;
    margin-top: 100px;

    .card-title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    .card-author {
      font-size: 14px;
      color: gray;
      text-align: center;
    }
  }

  .card-content-img {
    display: flex;
    width: 100%;
    justify-content: center;
    .card-img {
      display: flex;
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 100%;
      position: absolute;
    }
  }
}
