.cardDetail-root {
  display: flex;
  flex-direction: column;
  max-width: 275px;

  .cardDetail-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 4px;
    min-width: 250px;
    .cardDetail-title {
      margin-top: 16px;
      padding-top: 24px;
      border-top: 1px solid gray;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      text-transform: initial;
    }

    .cardDetail-author {
      font-size: 14px;
    }

    .cardDetail-description-title {
      margin-top: 16px;
      padding-top: 12px;
      border-top: 1px solid gray;
      font-size: 18px;
      font-weight: bold;
    }

    .cardDetail-description {
      hyphens: auto; /* permitir división de palabras con guiones */
      word-break: break-all; /* permitir división de palabras */
    }
  }

  .cardDetail-content-img {
    display: flex;
    width: 100%;
    justify-content: center;
    .cardDetail-img {
      display: flex;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
